doctype html
html(lang="en")
  head
    title Selected Colors
    // - :javascript
    // -   | var greeting = 'Hello';
    // -   | if (true) {
    // -   | 	console.log(`${greeting} from html file's javascript`);
    // -   | }
//-   body
//-     h1 Selected Colors 
//-     // #{colors}
//-     #container
//-         - if true
//-             p You are Seeing Red
//-         - else
//-             p You are seeing Blue